doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title Umbrellio &bull; #{t('nav.about')}
    include include/head

  body
    nav: .inner: .row
      - var url = "about"
      include include/nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong
            | &nbsp;
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | !{t('pages.about.slogan')}


    section: .inner
      .row
        .col-6.col-sm-12
          h2 #{t('pages.about.organization.title')}
          each paragraph in t('pages.about.organization.description')
            p!= paragraph

        .col-6.col-sm-12
          h2 #{t('pages.about.team.title')}
          each paragraph in t('pages.about.team.description')
            p!= paragraph

    include include/footer
