doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title Umbrellio &bull; #{t('nav.careers')}
    include include/head

  body
    nav: .inner: .row
      - var url = "career"
      include include/nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong
            | &nbsp;
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | #{t('pages.careers.slogan')}


    section: .inner: .row
      .col-12
        h2 #{t('pages.careers.careers.title')}
        each paragraph in t('pages.careers.careers.body')
          p!= paragraph.join('<br />')

      .col-12
        .hh
          | !{t('pages.careers.openings.text').replace('%link%', `<a href="https://spb.hh.ru/employer/2058497">${t('pages.careers.openings.openings')}</a>`)}

      .col-12
        h3 #{t('pages.careers.working_with_us.title')}

        ul.bullet
          each bullet in t('pages.careers.working_with_us.bullets')
            li= bullet

    include include/footer
