doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title Umbrellio
    include include/head

  body
    nav: .inner: .row
      - var url = "main"
      include include/nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong
            | &nbsp;
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | #{t('pages.home.slogan')}


    section: .inner: .row
      .col-12
        .activities
          each activity, activityTitle in t('pages.home.activities')
            .text-center
              .activity-icon: img(src=`../images/icons/icon-${activityTitle}.png` alt=activity.title)
              h3: span !{activity.title}
              p !{activity.description}

        .textbox
          each val in t('pages.home.what_we_do')
            p!= val

        .technologies
          div
            img(src="../images/logos/ruby.png" alt="")
            .hint: span ruby
          div
            img(src="../images/logos/rails.png" alt="")
            .hint: span ruby on rails
          div
            img(src="../images/logos/php.png" alt="")
            .hint: span php
          div
            img(src="../images/logos/postgresql.png" alt="")
            .hint: span postgresql
          div
            img(src="../images/logos/js.png" alt="")
            .hint: span javascript
          div
            img(src="../images/logos/babel.png" alt="")
            .hint: span babel
          div
            img(src="../images/logos/vue.png" alt="")
            .hint: span vue
          div
            img(src="../images/logos/react.png" alt="")
            .hint: span react
          div
            img(src="../images/logos/redux.png" alt="")
            .hint: span redux
          div
            img(src="../images/logos/redis.png" alt="")
            .hint: span redis
          div
            img(src="../images/logos/rabbit.png" alt="")
            .hint: span rabbitmq
          div
            img(src="../images/logos/webpack.png" alt="")
            .hint: span webpack
          div
            img(src="../images/logos/html5.png" alt="")
            .hint: span html5
          div
            img(src="../images/logos/css3.png" alt="")
            .hint: span css3

    include include/footer
