doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title Umbrellio &bull; #{t('nav.projects')}
    include include/head

  body
    nav: .inner: .row
      - var url = "projects"
      include include/nav

    section.intro: .inner: .row
      .col-12.text-center
        h3.intro-text
          strong
            | &nbsp;
            span &mdash;
            | Umbrellio
            span &mdash;
          br
          | #{t('pages.projects.slogan')}


    section: .inner: .row: .col-12
      .activity-group
        each activity, activityTitle in t('pages.projects.commercial_projects')
          .activity
            h3: span #{activity.title}
            .activity-icon
              img(src=`../images/icons/icon-${activityTitle}.png`)
            .activity-description
              p !{activity.description.main}
              ul.bullet
                each bullet in activity.description.bullet_points
                  li!= bullet



      h3 #{t('pages.projects.open_source.title')}
      br
      .projects
        a.project(href="https://github.com/umbrellio/polist" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 polist
            p Ruby gem for creating simple service classes.
        a.project(href="https://github.com/umbrellio/rollex" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 rollex
            p Timeless luxury counters
        a.project(href="https://github.com/umbrellio/lamian" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 lamian
            p Attaches logs to exception reports
        a.project(href="https://github.com/umbrellio/self_data" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 self_data
            p It's like DATA but better
        a.project(href="https://github.com/umbrellio/sequel-tablefunc" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 sequel-tablefunc
            p Sequel extension for crosstabs
        a.project(href="https://github.com/umbrellio/threaded_logging" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 threaded_logging
            p Better formatter for Ruby loggers.
        a.project(href="https://github.com/umbrellio/sequel_pretty_print" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 sequel_pretty_print
            p PrettyPrint support for Sequel models.
        a.project(href="https://github.com/umbrellio/ezclient" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 ezclient
            p An HTTP gem wrapper for easy persistent connections and more.
        a.project(href="https://github.com/umbrellio/code-style" target="_blank")
          img(src="../images/logo@200.png")
          .project-data
            h3 code-style
            p Linter settings for our projects

    include include/footer
