- var _t = scopedT('nav')

.col-12
  if url != 'main'
    a.logo(href="/")
      img(src="../images/logo.svg" alt="Umbrellio")
  else
    .logo
      img(src="../images/logo.svg" alt="Umbrellio")
  .lang-container
    ul.lang
      - link = (url == 'main' ? '' : url)
      li(class=(lang == 'en' ? 'active' : '' ))
        a(href=`/en/${link}`)
          img(src="../images/flags/en.svg" alt="")
      li(class=(lang == 'ru' ? 'active' : '' ))
        a(href=`/ru/${link}`)
          img(src="../images/flags/ru.svg" alt="")
  .social
    a(href="https://github.com/umbrellio" target="_blank")
      span.fa.fa-github
    a(href="https://www.instagram.com/umbrellio_biz" target="_blank")
      span.fa.fa-instagram
  ul.menu-main
    li(class=(url == 'main' ? 'active' : '' ))
      a(href=`/${lang}`) #{_t('home')}
    li(class=(url == 'projects' ? 'active' : '' ))
      a(href=`/${lang}/projects`) #{_t('projects')}
    li(class=(url == 'about' ? 'active' : '' ))
      a(href=`/${lang}/about`) #{_t('about')}
    li(class=(url == 'career' ? 'active' : '' ))
      a(href=`/${lang}/career`) #{_t('careers')}
    li(class=(url == 'contacts' ? 'active' : '' ))
      a(href=`/${lang}/contacts`) #{_t('contacts')}
